@model UMS_Project.Stream

@{
    ViewBag.Title = "Stream Details";
}

<h2>Details</h2>

<div>
    <h4>Stream</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.streamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curriculum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curriculum)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.streamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
