@model PagedList.IPagedList<UMS_Project.Stream>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Streams</h2>
<<<<<<< HEAD

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Streams", FormMethod.Get))
{
    <p>
        Find by stream: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}



=======
>>>>>>> 9b133a206d3985d679adafc71cf9aab26e5ecb3b

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Stream Name", "Index", new { Sorting_Order = ViewBag.SortingName })
        </th>
        <th>
            @Html.ActionLink("Specialisation", "Index", new { Sorting_Order = ViewBag.SortingSpecialisation })
        </th>
        <th>
            @Html.ActionLink("Duration", "Index", new { Sorting_Order = ViewBag.SortingDuration })
        </th>
        <th>
            @Html.ActionLink("Curriculum", "Index", new { Sorting_Order = ViewBag.SortingCurriculum })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.streamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curriculum)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.streamID }) |
                @Html.ActionLink("Details", "Details", new { id = item.streamID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.streamID })
            </td>
        </tr>
    }

</table>
 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, PageNo =>Url.Action("Index",
    new { PageNo, SortingOrder= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
