@model IEnumerable<UMS_Project.Stream>

@{
    ViewBag.Title = "Index";
}

<h2>Streams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.streamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curriculum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course_criteria)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.streamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curriculum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course_criteria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.streamID }) |
            @Html.ActionLink("Details", "Details", new { id = item.streamID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.streamID })
        </td>
    </tr>
}

</table>
