@model IEnumerable<UMS_Project.Cohort>

@{
    ViewBag.Title = "Index";
}

<h2>Cohorts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cohortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maximumSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minimumSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stream.streamName)
        </th>
        <th>
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.trainerID)
=======
            @Html.DisplayNameFor(model => model.Trainer1.User.firstName)
>>>>>>> 20a1e54189d41d5b67e9ed550fc15eeb9c454526
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cohortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maximumSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minimumSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stream.streamName)
        </td>
        <td>
<<<<<<< HEAD
            @Html.DisplayFor(modelItem => item.trainerID)
=======
            @Html.DisplayFor(modelItem => item.Trainer1.User.firstName)
>>>>>>> 20a1e54189d41d5b67e9ed550fc15eeb9c454526
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.cohortID }) |
            @Html.ActionLink("Details", "Details", new { id = item.cohortID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.cohortID })
        </td>
    </tr>
    }
</table>
@Html.Action("Index", "Users")