@model PagedList.IPagedList<UMS_Project.Cohort>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{
    ViewBag.Title = "Cohorts";
}

<h2>Cohorts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("TA", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Maximum Seats", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Minimum Seats", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Stream Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

<<<<<<< HEAD
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cohortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maximumSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minimumSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stream.streamName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.cohortID }) |
                @Html.ActionLink("Details", "Details", new { id = item.cohortID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.cohortID })
            </td>
        </tr>
    }

</table>
   Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, PageNo =>Url.Action("Index",
    new { PageNo, SortingOrder= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
=======
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cohortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maximumSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minimumSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stream.streamName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cohortID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cohortID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cohortID })
        </td>
    </tr>
}
</table>
@Html.Action("Index", "Users")
>>>>>>> 9b133a206d3985d679adafc71cf9aab26e5ecb3b
