<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/spartaglobal1.png" />
                    </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("User", "Index", "Users")</li>
                    <li>@Html.ActionLink("Role", "Index", "Roles")</li>
                    <li>@Html.ActionLink("Stream", "Index", "Streams")</li>
                    <li>@Html.ActionLink("Cohort", "Index", "Cohorts")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Streams List
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
<<<<<<< HEAD
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
=======
<<<<<<< HEAD

=======
>>>>>>> 22bdccba2b4894fc81554ef4a18a7f865f69512e
>>>>>>> fff49ef23cfe1a0e4642565015f960351e738e87
                                @{
                                    User_ManagementDBEntities db = new User_ManagementDBEntities();
                                    var query = db.Streams.OrderBy(s => s.streamName);
                                    foreach (var item in query)
                                    {
                                        string name = item.streamName;
                                        <li>@Html.ActionLink((@name).ToString(), "Details", "Streams", new { id = item.streamID }, null)</li>
                                    }
                                }
<<<<<<< HEAD

=======
>>>>>>> 22bdccba2b4894fc81554ef4a18a7f865f69512e
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    @if (@Session["Email"] != null)
                    {
                        <li><a>Hello, @Session["Name"]! @Session["Email"]</a></li>
                    }
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
