<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: rgb(87,61,106);
background: linear-gradient(90deg, rgba(87,61,106,1) 0%, rgba(132,116,161,1) 16%, rgba(42,13,88,1) 35%);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" >
                    <img alt="Widget View" src="@Url.Content("~/Content/sparta.png")"style="height:50px">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("User", "Index", "Users")</li>
                    <li>@Html.ActionLink("Role", "Index", "Roles")</li>
                    <li>@Html.ActionLink("Stream", "Index", "Streams")</li>
                    <li>@Html.ActionLink("Cohort", "Index", "Cohorts")</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Streams List
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>

                                @{
                                    User_ManagementDBEntities db = new User_ManagementDBEntities();
                                    var query = db.Streams.OrderBy(s => s.streamName);

                                    foreach (var item in query)
                                    {
                                        string name = item.streamName;
                                        <li>@Html.ActionLink((@name).ToString(), "Index", "Cohorts", new { @id = item.streamID }, null)</li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Partial("LoginNavbar")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
