@model IEnumerable<UMS_Project.User>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<<<<<<< HEAD
=======
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cohort.cohortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.roleName)
        </th>
        <th></th>
    </tr>
>>>>>>> 27207772cc45460432e831b52f56b088c845a29f


    @using (Html.BeginForm())
    {
        <p>
            Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
            <input type="submit" value="Find" />
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("first Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.upassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passwordSalt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passwordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort.cohortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.roleName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.upassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.passwordSalt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.passwordHash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cohort.cohortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.roleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.userID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.userID })
                </td>
            </tr>
        }

    </table>

